<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body background="C:\Users\Administrator\Desktop\logo.jpg">
<br/>
<span style="font-weight:bold;">The following Booking didn't create successfully . Please check the exception message</span><br/>
<table cellpadding="5" cellspacing="0" style="border: 2px solid #666;">
	<tr>
		<td>
			<span style="font-weight:bold;">Reference# :</span> $REFERENCENO
		</td>
	</tr>		
	<tr>
		<td>
			<span style="font-weight:bold;">BookingPartyCode :</span> $BPCODE
		</td>
	</tr>		
	<tr>
		<td>
			<span style="font-weight:bold;">Vessel :</span> $VESSEL
		</td>
	</tr>		
	<tr>
		<td>
			<span style="font-weight:bold;">Voyage :</span> $VOYAGE
		</td>
	</tr>		
	<tr>
		<td>
			<span style="font-weight:bold;">ExceptionMessage :</span> $ERRORMESSAGE
		</td>
	</tr>
	
</table>
</body>
</html> 